@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root{
    --background: #ebebeb;
    --nav-background: #d3d3d3;
    --title-color: #00ffff;
    --text-color: #000; 
    --nav-color: #00ffff;
    --nav-hover-color:#000 ;
    --nav-hover-background: rgb(201, 200, 200);
    --nav-dropdown-background:#00ffff;
    --nav-dropdown-color: #ebebeb;
    --nav-dropdown-hover-color: #00ffff;
    --nav-dropdown-hover-background: #ebebeb;
    --nav-bg-topbar-background:#00ffff ;
    --a-color: #000;
    --nav-bg-topbar-color: #ebebeb;
}

body{
    background-color: var(--background);
}

nav{
    background: var(--nav-background);
    color: var(--text-color)
}

nav:hover{
    background-color: var(--nav-hover-background);
    color: var(--nav-hover-color);
    text-decoration-color: none;
}

a{
    text-decoration: none;   
    color: var(--a-color);
    transition: 0.35;
}

.header{
    background-color: var(--background);
    color: var(--text-color);    
}

.header .topbar{
    background-color: var(--nav-bg-topbar-background);
    color: var(--nav-bg-topbar-color);
    height: 40px;
}



h1{
    color: var(--title);
    text-align: center;
    font-family:"Roboto", sans-serif;
}

